src/main/resources/user.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Shared type used for both <user> and <users> elements -->
    <xs:complexType name="UserType">
        <xs:sequence>
            <xs:element name="id"        type="xs:integer" minOccurs="0"/>
            <xs:element name="email"     type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName"  type="xs:string"/>
            <xs:element name="avatar"    type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Single user — used for POST validate-save endpoint -->
    <xs:element name="user" type="UserType"/>

    <!-- Collection of users — used for generated ReqRes XML and Jakarta XML validation -->
    <xs:element name="users">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="UserType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>